<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<link th:href="@{/css/auth/login.css}" rel="stylesheet">-->
<!--<link href="/static/css/auth/login.css" rel="stylesheet">-->
<link media="all" rel="stylesheet" th:href="@{/css/auth/login.css}" type="text/css"/>
<link href="/static/css/auth/login.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <table class="bottom_menu">
        <tr>
            <td class="logo_box">
                <h1>CryptoSignService</h1>
<!--                <div class="button_header_item">-->
<!--                    <a href="/" class="button_header_item_link">Главная</a>-->
<!--                </div>-->
            </td>
            <td class="header_item">
                <a th:href="@{/}" class="header_link">Главная</a>
            </td>
            <td class="header_item">
                <a th:href="@{/signup}" class="header_link">Регистрация</a>
            </td>
<!--            <td class="item_box">-->
<!--                <div class="button_header_item">-->
<!--                    <a href="/" class="button_header_item_link">Главная</a>-->
<!--                </div>-->
<!--                <div class="button_header_item">-->
<!--                    <a href="/" class="button_header_item_link">Главная 2</a>-->
<!--                </div>-->
<!--            </td>-->
        </tr>
    </table>
</header>
<main class="div_center div_vcenter">
    <div>
        <form th:action="@{/login}" method="post" th:object="${form}">
            <fieldset>
                <legend><h3 class="main_header">Авторизация</h3></legend>
                <table>
<!--                    Логин -->
                    <tr>
                        <td>
                            <label for="username" class="main_text">Логин:</label>
                        </td>
                        <td>
                            <input type="text" th:field="*{login}" id="username" class="main_input_text">
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${UserNotFound}" colspan="2">
                            <a class="main_error_text">Пользователь с таким логином не найден</a>
                        </td>
                    </tr>
    <!--                Пароль -->
                    <tr>
                        <td>
                            <label for="password" class="main_text">Пароль:</label>
                        </td>
                        <td>
                            <input type="password" th:field="*{password}" id="password" class="main_input_text">
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${PasswordError}" colspan="2">
                            <a class="main_error_text">Пароль не верный</a>
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${param.error}" colspan="2">
                            <a class="main_error_text">Пароль не верный, или <br>пользователя с таким именем не существует</a>
                        </td>
                    </tr>
    <!--                Кнопка Войти-->
                    <tr>
                        <td colspan="2">
                            <br>
                            <button type="submit" class="submit">Войти</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</main>
<div class="clear"></div>
<footer>
    <div>
        <p>Автор проекта</p>
    </div>
</footer>
</body>
</html>