<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>CryptoSignService</h1>
    <h3>Авторизация</h3>
    <form th:action="@{/login}" method="post" th:object="${form}">
        <p>
            <label for="username">Логин:</label>
            <input type="text" th:field="*{login}" id="username">
            <div th:if="${UserNotFound}">
                <a>Пользователь с таким логином не найден</a>
            </div>

        </p>
        <p>
            <label for="password">Пароль:</label>
            <input type="password" th:field="*{password}" id="password">
            <div th:if="${PasswordError}">
                <a>Пароль не верный</a>
            </div>
        </p>
        <div th:if="${param.error}">
            Пароль не верный, или пользователя с таким именем не существует
        </div>
        <p>
            <button type="submit">Войти</button>
        </p>
        <p>
            <a>Ещё нет аккаунта? <a th:href="@{/signup}">Зарегистрируйтесь</a></a>
        </p>
        <p>
            <a>Вернуться на <a th:href="@{/}">главную</a></a>
        </p>
    </form>
</div>
</body>
</html>