<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CryptoSignService</title>
    <link media="all" rel="stylesheet" th:href="@{/css/index/index.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/home/createsign_button.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/sign/service/create.css}" type="text/css"/>
    <link href="/static/css/index/index.css" rel="stylesheet">
    <link href="/static/css/home/createsign_button.css" rel="stylesheet">
    <link href="/static/css/sign/service/create.css" rel="stylesheet">
</head>
<body>
<header>
    <table class="bottom_menu">
        <tr>
            <td class="logo_box">
                <h1><a href="/" class="logo_link">CryptoSignService</a></h1>
            </td>
            <td class="header_item">
                <a th:href="@{/}" class="header_link">Главная</a>
            </td>
            <td class="header_item">
                <a th:href="@{/signup}" class="header_link">Регистрация</a>
            </td>
        </tr>
    </table>
</header>
<main>
    <div class="div_center div_vcenter">
        <table>
            <tr>
                <td><p></p></td>
                <td>
                    <fieldset>
                        <legend><h2 class="main_header">Создание шаблона подписи</h2></legend>
                        <form method="POST" th:action="@{/templates/create}" th:object="${templateModel}">
                            <div th:if="${notlogin}">
                                <a class="main_error_text">Для использования сервиса <a class="main_error_text" th:href="@{/signup}">зарегистрируйтесь</a> или <a  class="main_error_text" th:href="@{/login}">войдите</a> в свой аккаунт.</a>
                            </div>
                            <div th:if="${UserNotFound}">
                                <a class="main_error_text">Ошибка авторизации! Пожалуйста, <a class="main_error_text" th:href="@{/signup}">зарегистрируйтесь</a> или <a class="main_error_text" th:href="@{/login}">войдите</a> в свой аккаунт.</a>
                            </div>
                            <table th:if="${login}" class="main_text">
                                <tr>
                                    <td><label>Название шаблона: </label></td>
                                    <td colspan="3"><input type="text" th:field="*{templateName}"></td>
                                </tr>
                                <tr>
                                    <td><label>Владелец: </label></td>
                                    <td colspan="3"><input type="text" th:field="*{signOwner}"></td>
                                </tr>
                                <tr>
                                    <td><label>Сертификат: </label></td>
                                    <td colspan="3"><input type="text" th:field="*{signCertificate}"></td>
                                </tr>
                                <tr>
                                    <td><label>Действителен с </label></td>
                                    <td><input type="date" th:field="*{signDateStart}"></td>
                                    <td align="center"><label> до </label></td>
                                    <td><input type="date" th:field="*{signDateEnd}"></td>
                                </tr>
                                <tr>
                                    <td align="right"><input type="checkbox" th:field="*{drawLogo}" checked="checked"></td>
                                    <td colspan="3"><label>Рисовать герб</label></td>
                                </tr>
                                <tr>
                                    <td align="right"><input type="checkbox" th:field="*{checkTransitionToNewPage}"></td>
                                    <td colspan="3"><label> Игнорировать переход на новую страницу</label></td>
                                </tr>
                                <tr>
                                    <td>Тип вставки:</td>
                                    <td colspan="3">
                                        <select size="1" th:field="*{insertType}">
                                            <option disabled th:value="-1">Тип вставки</option>
                                            <option th:value="0">В конец документа</option>
                                            <option th:value="2">По тэгу</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"><label for="submit">Создать шаблон:</label></td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="center"><input type="submit" value="Создать" id="submit" class="button_create_sign button_create_sign_link_text"></td>
                                </tr>
                            </table>
                        </form>
                    </fieldset>
                </td>
                <td><p></p></td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>