<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CryptoSignService</title>
</head>
<body>
<h1>CryptoSignService</h1>
<h3>Сервис для визуализации информации об электронной подписи в документе</h3>
<h2>Подпись документа</h2>
<form method="POST" th:action="@{/templates/delete}">
    <table border="1">
        <tr>
            <th></th>
            <th>Номер</th>
            <th>Название</th>
            <th>Владелец</th>
            <th>Сертификат</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Рисовать герб</th>
            <th>Переход на новую страницу</th>
            <th>Тип вставки</th>
        </tr>
        <tr th:each="template: ${signTemplateModels}">
            <td><input type="checkbox" name="index" th:value="${templateStat.index}"></td>
            <td th:text="${templateStat.index + 1}"></td>
            <td th:text="${template.templateName}"></td>
            <td th:text="${template.signOwner}"></td>
            <td th:text="${template.signCertificate}"></td>
            <td th:text="${template.signDateStart}"></td>
            <td th:text="${template.signDateEnd}"></td>
            <td th:text="${template.drawLogo}"></td>
            <td th:text="${template.checkTransitionToNewPage}"></td>
            <td th:text="${template.insertType}"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Удалить">
</form>
<p>
    <a>Вы можете вернуться на <a th:href="@{/}">главную</a></a>
</p>
<p>
    <a>Вы можете продолжить <a th:href="@{/sign/create}">подпись</a> документа</a>
</p>
</body>
</html>