<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CryptoSignService</title>
</head>
<body>
<h1>CryptoSignService</h1>
<h3>Сервис для визуализации информации об электронной подписи в документе</h3>
<h2>Редактирование шаблона подписи</h2>
<form method="POST" enctype="multipart/form-data" th:action="@{'/templates/edit?templateIndex=' + ${templateIndex}}" th:object="${template}">
    <div th:if="${indexOutOfRange}">
        <a>Некорректный индекс шаблона</a>
    </div>
    <div th:if="${template}">
        <label>Название шаблона: <input type="text" th:field="*{templateName}"></label><br>
        <label>Владелец: <input type="text" th:field="*{signOwner}"> </label><br>
        <label>Сертификат: <input type="text" th:field="*{signCertificate}"></label><br>
        <label>Действителен с <input type="date" th:field="*{signDateStart}"> до <input type="date" th:field="*{signDateEnd}"></label><br>
        <label><input type="checkbox" th:field="*{drawLogo}" checked="checked"> Рисовать герб</label><br>
        <label><input type="checkbox" th:field="*{checkTransitionToNewPage}"> Игнорировать переход на новую страницу</label><br>
        <p><select size="1" th:field="*{insertType}">
            <option disabled th:value="-1">Тип вставки</option>
            <option th:value="0">В конец документа</option>
            <option th:value="2">По тэгу</option>
        </select></p>
        <p>
            <label for="submit">Подпись документа:</label>
        </p>
        <p>
            <input type="submit" value="Сохранить" id="submit">
        </p>
        <p>
            <a>Вы можете вернуться на <a th:href="@{/}">главную</a></a>
        </p>
    </div>

</form>
</body>
</html>