<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CryptoSignService</title>
</head>
<body>
<h1>CryptoSignService</h1>
<h3>Сервис для визуализации информации об электронной подписи в документе</h3>
<h2>Подпись документа</h2>
<form method="POST" enctype="multipart/form-data" th:action="@{/sign/upload}" th:object="${signModel}">
    <label>Документ: <input type="file" th:field="*{file}"></label><br>
    <label>Владелец: <input type="text" th:field="*{signOwner}"> </label><br>
    <label>Сертификат: <input type="text" th:field="*{signCertificate}"></label><br>
    <label>Действителен с <input type="date" th:field="*{signDateStart}"> до <input type="date" th:field="*{signDateEnd}"></label><br>
    <label><input type="checkbox" th:field="*{drawLogo}" checked="checked"> Рисовать герб</label><br>
    <label><input type="checkbox" th:field="*{checkTransitionToNewPage}"> Игнорировать переход на новую страницу</label><br>
    <p><select size="1" th:field="*{insertType}">
        <option disabled th:value="-1">Тип вставки</option>
        <option th:value="0">В конец документа</option>
        <option th:value="2">По тэгу</option>
    </select></p>
    <p>
        <label for="submit">Подпись документа:</label>
    </p>
    <p>
        <input type="submit" value="Подписать" id="submit">
    </p>
    <p>
        <a>Вы можете вернуться на <a th:href="@{/}">главную</a></a>
    </p>
</form>

<div th:if="${signTemplateModels}">
    <table border="1">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Владелец</th>
            <th>Сертификат</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Рисовать герб</th>
            <th>Переход на новую страницу</th>
            <th>Тип вставки</th>
            <th>Редактировать</th>
            <th>Выбрать</th>
        </tr>
        <tr th:each="template: ${signTemplateModels}">
            <td th:text="${templateStat.index + 1}"></td>
            <td th:text="${template.templateName}"></td>
            <td th:text="${template.signOwner}"></td>
            <td th:text="${template.signCertificate}"></td>
            <td th:text="${template.signDateStart}"></td>
            <td th:text="${template.signDateEnd}"></td>
            <td th:text="${template.drawLogo}"></td>
            <td th:text="${template.checkTransitionToNewPage}"></td>
            <td th:text="${template.insertType}"></td>
            <td><a th:text="Редактировать" th:href="@{'/templates/edit/' + ${templateStat.index}}"></a></td>
            <td><a th:text="Выбрать" th:href="@{'/sign/create?index=' + ${templateStat.index}}"></a></td>
        </tr>
    </table>
    <p>
        <a>При необходимости, вы можете <a th:href="@{/templates/delete}">удалить</a> некоторые шаблоны</a>
    </p>
</div>

<div>
    <p>
        <a>Вы можете <a th:href="@{/templates/create}">создать шаблон подписи</a></a>
    </p>
</div>

</body>
</html>