<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<link th:href="@{/css/home/createsign_button.css}" rel="stylesheet">-->
<!--<link href="/static/css/home/createsign_button.css" rel="stylesheet">-->
<link media="all" rel="stylesheet" th:href="@{/css/index/index.css}" type="text/css"/>
<link media="all" rel="stylesheet" th:href="@{/css/home/createsign_button.css}" type="text/css"/>
<link href="/static/css/index/index.css" rel="stylesheet">
<link href="/static/css/home/createsign_button.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>CryptoSignService</title>
</head>
<body>
<header>
    <table class="bottom_menu">
        <tr>
            <td class="logo_box">
                <h1><a href="/" class="logo_link">CryptoSignService</a></h1>
            </td>
            <td th:if="${notlogin}" class="header_item">
                <a th:href="@{/login}" class="header_link">Вход</a>
            </td>
            <td th:if="${notlogin}" class="header_item">
                <a th:href="@{/signup}" class="header_link">Регистрация</a>
            </td>
            <td th:if="${login}" class="header_item">
                <a><span th:text="${login}" class="header_link"></span></a>
            </td>
            <td th:if="${login}" class="header_item">
                <a th:href="@{/logout}" class="header_link">Выйти</a>
            </td>
        </tr>
    </table>
</header>
<div class="clear"></div>
<main>
    <h3 class="main_header">Сервис предназначен для визуализации информации об электронной подписи в документе</h3>
    <p class="main_text">
        <a>Поддерживаемые форматы: Word, Excel, PDF – *.docx *.xlsx *.pdf</a>
    </p>
    <p th:if="${notlogin}" class="main_error_text">Для использования сервиса необходима авторизация!</p>
    <p>
        <div th:if="${login}" class="button_create_sign button_create_sign_div div_center">
            <a th:href="@{/sign/createRuToken}" class="button_create_sign_link button_create_sign_link_text">Подписать документ</a>
        </div>
    </p>
</main>
<div class="clear"></div>
<footer>
    <div>
        <p>Автор проекта</p>
    </div>
</footer>
</body>
</html>