<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CryptoSignService</title>
</head>
<body>
<h1>CryptoSignService</h1>
<h3>Сервис для визуализации информации об электронной подписи в документе</h3>
<div th:if="${login}">
    <a>Вы вошли как <span th:text="${login}"></span>. Вы можете <a th:href="@{/logout}">выйти</a> из аккаунта.</a>
</div>
<p>
    <a>Поддерживаемые форматы: Word, Excel, PDF – *.docx *.xlsx *.pdf</a>
</p>
<p>
<div th:if="${notlogin}">
    <a>Для использования сервиса <a th:href="@{/signup}">зарегистрируйтесь</a> или <a th:href="@{/login}">войдите</a> в свой аккаунт.</a>
</div>
</p>
</body>
</html>